     <footer class="footer mt-auto py-2 bg-footer">  <!-- pego footer desde bootstrap, Sticky footer "ver codigo fuente" -->
      <div class="container1">
        <a href="https://www.linkedin.com/in/nicol%C3%A1s-salina-0533508b/?originalSubdomain=ar"><i class="fab fa-linkedin-in"></i> </i></a> <!-- linkeo linkedin desde fontawesome -->
        <a href="https://www.instagram.com/nicolas.salina/"><i class="fab fa-instagram"></i></a> <!-- linkeo instagram desde fontawesome -->
        <span class="text">Nicolás Salina  &copy; 2021</span>
      </div>
    </footer>