<div class="container-fluid bg-dark p-3 text-white">
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      {{#if user}}
        <h5 class="me-3"> {{user}}</h5>
        <a href="/login/logout" class="btn btn-color-stp">Cerrar sesión</a>
      {{/if}}
    </div>
  </div>
</div>
<header class="py-5 bg-dark text-white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-5">En Social Club queremos que seas parte de la historia grande de la pileta</h1>
                    <p class="lead fw-normal mb-4">Todos los días nuestros más de 10 profesores, recrean diversas tecnicas y tacticas para que día a día mejores como atleta. Todas las personas que algunas vez vinieron a nuestra pileta saben lo mucho que los valoramos. Formamos atletas desde 1910 de la mano del gran maestro Pelkins</p>
                    <a class="btn btn-secondary btn-lg" href="#scroll-target">Nuestra Historia</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5 bg-warning" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/historia1.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder text-white">Participacion en los juegos olimpicos de Berlín 1936</h2>
                <p class="lead fw-normal text-white mb-0">El maestro Pelkins gano la medalla de bronce en la categoria 1000 metros libres de dicho certamen.</p>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-dark">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/historia2.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder text-white">Mujeres al mando</h2>
                <p class="lead fw-normal text-white mb-0">Desde que el Social Club inauguro nunca discriminamos ningun genero, apostamos a nuestros atletas tanto hombres como mujeres, en la fotografia se puede apreciar un grupo de nadadoras antes de iniciar una competencia.</p>
            </div>
        </div>
    </div>
</section>
