<div class="container-fluid bg-dark p-3 text-white">
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      {{#if user}}
        <h5 class="me-3"> {{user}}</h5>
        <a href="/login/logout" class="btn btn-color-stp">Cerrar sesión</a>
      {{/if}}
    </div>
  </div>
</div>
<!-- Header-->
<header class="py-5 bg-dark text-white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-5">Queremos ayudarte crear hábitos saludables y promover valores a partir del entrenamiento</h1>
                    <p class="lead fw-normal mb-4">Estamos convencidos que un buen entrenamiento, genera un impacto positivo en las dimensiones de la persona: principalmente mejorando la dimensión física hablando en términos de salud, también la dimensión estética, ya que no solo la persona se siente mejor, sino que se ve mejor, esto llevará a que la dimensión emocional mejore aumentando la autoestima y productividad en el día, lo que hará que hasta la dimensión social crezca y mejore</p>
                    <a class="btn btn-secondary btn-lg" href="#scroll-target">Nuestra Historia</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-warning" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/1.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">STP Police</h2>
                <p class="lead fw-normal text-muted mb-0">Nos iniciamos como una empresa de preparación para el ingreso a las fuerzas policiales de tucumán, servicio penitenciario, Policia Federal y Gendarmería.</p>
            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5 bg-dark">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/images/2.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Crecimiento &amp; más</h2>
                <p class="lead fw-normal text-muted mb-0">Hoy en día tenemos nuestro centro de entrenamiento, con cuatro profes trabajando tanto en el área de salud, mejorando la calidad de vida de nuestros alumnos, como así también en el rendimiento deportivos de aquellos que practican un deporte en específico, también tenemos programas específicos para deportistas, como STP Triatlón.</p>
            </div>
        </div>
    </div>
</section>
