<div class="container-fluid bg-dark m-0" style="height:100vh">
  <a href="/admin/categorias"><button class="btn btn-secondary my-4">Volver</button></a>
  <div class="row">
    <div class="col-6 m-auto my-5">
      <h2 class="text-white">Actualizar Categoria</h2>
      <form method="POST" action="/admin/categorias/update/{{categoria.id}}" class="form">
        <div class="mb-3">
          <label for="nombre" class="form-label text-white">Nombre <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" id="nombre" name="nombre" value="{{categoria.nombre}}">
        </div>
        <button type="submit" class="btn btn-secondary">Actualizar</button>
      </form>
    </div>
  </div>
</div>