<div class="container-fluid btn-light p-3 text-dark">
  <div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      {{#if user}}
        <h5 class="me-3">{{user}}</h5>
        <a href="/login/logout" class="btn btn-color-stp">Cerrar sesión</a>
      {{/if}}
    </div>
  </div>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-4">
      <div class="card p-3 shadow" style="width: 18rem;">
        <img src="/images/clases_img.jpg" class="card-img-top img-card-admin" alt="Clases">
        <div class="card-body">
          <h5 class="card-title"> Clases </h5>
          <p class="card-text">  </p>
          <a href="/admin/productos" class="btn btn-color-stp">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card p-3 shadow" style="width: 18rem;">
        <img src="/images/natatorio1.jpg" class="card-img-top img-card-admin" alt="Categorias">
        <div class="card-body">
          <h5 class="card-title"> Categorias </h5>
          <p class="card-text">  </p>
          <a href="/admin/categorias" class="btn btn-color-stp">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card p-3 shadow" style="width: 18rem;">
        <img src="/images/usurios_img.jpg" class="card-img-top img-card-admin" alt="Usuarios">
        <div class="card-body">
          <h5 class="card-title"> Usuarios </h5>
          <p class="card-text">  </p>
          <a href="/admin/usuarios" class="btn btn-color-stp">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>






