<div class="container-fluid bg-dark p-3 text-white">
    <div class="row">
        <div class="col-md-8">
    </div>
    <div class="col-md-4 d-flex justify-content-end">
    {{#if user}}
        <h5 class="me-3"> {{user}}</h5>
        <a href="/login/logout" class="btn btn-color-stp">Cerrar sesión</a>
    {{/if}}
    </div>
</div>
<br>
<br>
<header class="bg-warning py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">¡NATATORIO ABIERTO!</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Horarios de administración: lunes a viernes de 10hs a 12hs o de 16hs a 20hs. Comunicate al 2149-8197</p>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-2" src="/images/natatorio1.jpg" alt="Logo" /></div>
        </div>
    </div>
</header>

            <section class="py-5">
                <div class="container px-5 mb-3">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <h1 class="fw-bolder">Clases para todas las edades</h1>
                                <p class="lead fw-normal text-light mb-0">En Social Club tenemos una amplia experiencia y profesores capacitados para brindarte la mejor atencion personalizada.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/images/profes.jpg" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/images/profes2.jpg" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/images/profes3.jpg" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/images/profes4.jpg" alt="..." /></div>
                    </div>
                </div>
            </section>


