<div class="container-fluid bg-register m-0" style="height:100vh">
  <div class="row">
    <div class="col-10 m-auto my-5">
      <form method="post" action="/registro" class="form card p-5 card-register">
        <img src="/images/logo.png" alt="logo stp" class="logoNavbar">
        <h4 class="my-3 text-white">Registrate - Natatorio Social Club</h4>
        <div class="mb-3">
          <label for="nombre" class="form-label text-white">Nombre <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" id="name" name="name" >
        </div>
        <div class="mb-3">
          <label for="email" class="form-label text-white">Email <span class="text-danger">*</span></label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" >
        </div>
        <div class="mb-3">
          <label for="pass" class="form-label text-white">Password <span class="text-danger">*</span></label>
          <input type="password" class="form-control" id="pass" name="pass" >
        </div>
        {{#if message}}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
        {{/if}}
        <button type="submit" class="btn btn-color-stp btn-lg">REGISTRARSE 🙂</button>
      </form>
    </div>
  </div>
</div>